.root {
  border-spacing: 0;
  --border-radius-body: var(--border-radius-large);
  --border-radius-row: var(--border-radius-small);
  --zebra-stripe: var(--light-gray);
}

.root td,
.root th {
  padding: calc(var(--spacing) * 0.75);
}

.root th {
  text-align: left;
  color: white;
  background-color: var(--dark-gray);
}

.root .pointsLabel {
  text-align: right;
}

.root > thead {
  position: sticky;
  top: 0;
}

.root > thead > tr:first-of-type > th:first-of-type {
  border-top-left-radius: var(--border-radius-body);
  border-right: var(--border-width) solid currentColor;
}

.root > thead > tr:first-of-type > th:last-of-type {
  border-top-right-radius: var(--border-radius-body);
}

.root > thead > tr:nth-of-type(2) > th:nth-of-type(2) {
  border-right: var(--border-width) solid currentColor;
}

.root > tbody > tr:nth-of-type(odd) td {
  background-color: var(--zebra-stripe);
}

.root > tbody > tr:nth-of-type(odd) td:first-of-type {
  border-top-left-radius: var(--border-radius-row);
  border-bottom-left-radius: var(--border-radius-row);
}

.root > tbody > tr:nth-of-type(odd) td:last-of-type {
  border-top-right-radius: var(--border-radius-row);
  border-bottom-right-radius: var(--border-radius-row);
}
