.root {
  --spacing: 16px;
  --border-width: 2px;
  --border-radius-large: 6px;
  --border-radius-small: 4px;
  --dark-gray: #303030;
  --light-gray: #ececec;
  --primary-blue: royalblue;
}

.inputContainer {
  display: flex;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.searchInput {
  margin-bottom: var(--spacing);
}
