.root > label {
  display: block;
  margin-bottom: 4px;
}

.root > input {
  display: block;
  padding: 8px;
  border: 3px solid #303030;
  border-radius: 6px;
}

.root:focus-within > label {
  color: royalblue;
}

.root > input:focus {
  border-color: royalblue;
  outline: 0;
}
