.root > label {
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
}

.root > input {
  display: block;
  padding: calc(var(--spacing) * 0.5);
  border: var(--border-width) solid var(--dark-gray);
  border-radius: var(--border-radius-large);
}

.root:focus-within > label {
  color: var(--primary-blue);
}

.root > input:focus {
  border-color: var(--primary-blue);
  outline: 0;
}
